html, body {
    height: 102%;
    margin: -10px 0 0 0;
    color: #007b00;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #007b00;
}
@font-face {
    font-family: 'thin';
    src: url('thinfont-thin.ttf')
}
@font-face {
    font-family: 'garden';
    src: url('NGARDEN%20TRIAL___.ttf');
}
@font-face {
    font-family: 'coco';
    src: url('Cocomat%20Ultralight-trial.ttf')
}
header {
    float: left;
    background: #bdd684;
    border-bottom: 2px solid #bdd684;
    padding: 25px 0;
    width: 100%;
    font-family: 'garden';
}
.logo {
    float: left;
    text-align: left;
    margin-left: 5%;
    font-size: 28px;
}
nav {
    float: right;
    text-align: right;
    margin-right: 2%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding-top: 8px;
}
nav li {
    display: inline-block;
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
nav a {
    padding: 15px 10px;
}
section {
    background: #e2f0d6;
    height: 100%;
    text-align: center;
    font-family: 'coco';
}
section h1 {
    padding-top: 17%;
    font-size: 48px;
}
section p {
    width: 500px;
    margin: -28px auto 32px;
    font-size: 18px;
    line-height: 1.35;
}
#submit {
    height: 50px;
    width: 220px;
    background: #bdd684;
    color: inherit;
    font-size: 16px;
    letter-spacing: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}
#submit:hover {
    background: #95ab63;
}
input:focus {
    outline: none;
    border: 2px solid #95ab63;
    box-shadow: 0 0 10px #95ab63;
}
table {
    text-align: center;
    font-family: 'thin';
}

img {
    width: 400px;
    height: 266px;
}
td a {
    color: #4FDA8C;
}